
body{font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}
.header{
    display: flex;
    width: 100%;
    
}
.header-part-1{
    width:50%;
    padding-left: 10%;
}
h1{
    line-height: 60px;
    font-size: 45px;
    font-weight: bold;
    padding-top: 35%;
    padding-left: 10%;
    color: rgb(56, 53, 53);
}
.ptag{
    padding-left: 10%;
    color: darkgray;
    line-height: 20px;
    padding-bottom: 30px;
}
.linkbtn{
    border-radius: 30px;
    color: white;
    font-weight: bold;
    padding: 20px;
    text-decoration: none;
    margin-left: 20%;
    background-image: radial-gradient(red,orange);
}
.header-part-2{
    height: 500
    px
    ;
        padding-top: 40
    px
    ;
    }

    .imge {
        height: 80%;
        padding-top: 40px;
    }
 .middle-body{
     display: flex;
     width: 100%;
     height: 500px;
    background-repeat: no-repeat;
    background-image: url(images/shapes/7.png);
 } 
 .mid1{
     width: 50%;
     height: 100%;
 }
.midImg{
    height: 80%;
    padding-left: 200px;
    padding-top: 100px;
}
mid2{
    width: 50%;
    height: 100%;
}
.aboutpart{
    padding-top: 80px;
    padding-left: 20%;
}
.aboutHer{
    padding-left: 20%;
    width: 40%;
    padding-bottom: 40px;
}
.midbtn{
    color: white;
    font-weight: bold;
    padding: 20px;
    text-decoration: none;
    margin-left: 20%;
    background-image: radial-gradient(red,orange);
    border-radius: 25px;
}
.recipiespart-top{
    width: 100%;
    text-align: center;
}
.recipiespart-bottom{
    display: flex;
    width: 100%;
    margin-bottom: 50px;
}
.bottom1{
    border: rgb(228, 228, 228);
    width: 20%;
    background-color:#FFFFFF;
    height: 100%;
    padding: 10px;
    margin-right:35px ;
    margin-left: 16%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.bottom1 img{
    width: 100%;
    height: 50%;
}
.bottom2{
    border: rgb(228, 228, 228);
    width: 20%;
    background-color:#FFFFFF;
    height: 100%;
    padding: 10px;
    margin-right:35px ;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.bottom3{
    border: rgb(228, 228, 228);
    width: 20%;
    background-color:#FFFFFF;
    height: 100%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.bottom2 img{
    width: 100%;
    height: 50%;
}
.bottom3 img{
        width: 100%;
        height: 50%;
    }
.ratingarea{
    background-color: #FFFFFF;
    width: 75%;
    height: 250px;
    margin-left: 13%;
    display: flex;
    margin-bottom: 100px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.ratings{
    
    text-align: center;
    margin-left: 12%;
    
}
.ratings p{
    line-height: 10px;
}
.likes{
    padding-top: 60px;
}
footer{
    padding-top: 30px;
    text-align: center;
    height: 200px;
    background-color: rgb(11, 14, 23);
}